*.la
*.lo
*.o
.deps
.libs
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gnome-control-center-*.tar.xz
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
m4
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/.intltool-merge-cache
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-it
stamp-h1
*~
